.lehudy-content{
	float: left;
	width: 750px;
}

.lehudy-list {
	border: 1px solid  #ddd;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.lehudy-left{
	float: right;
	width: 280px;
}

.lehudy-detail{
	margin: auto;
	margin-bottom: 30px;
}

@media (min-width: 1200px){
	.loginFormDiv{
		width: 650px;
		margin: auto;
	}
}

.loginForm{
	width: 100%;
}